:root {
  --background-color: rgb(229 229 229/90%);
  --primary-color: #3e6387;
  --secondary-color: rgb(229 229 229/90%);
}
.homescreen {
  height: 100vh;
  margin: 0rem 0rem;
}

.homescreen-content {
  position: fixed;
  width: 30%;
  left: 35%;
  top: 25%;
  background-color: var(--background-color);
  border-radius: 2rem;
}

.homescreen-heading {
  margin-top: 0rem;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: var(--primary-color);
}

.quiz-cateogory {
  float: center;
  text-align: center;
  width: 85%;
  background-color: var(--primary-color);
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 2rem;
  outline: none;
  border: none;
}

@media screen and (max-width: 767px) {
  .homescreen-content {
    position: fixed;
    left: 10%;
    width: 80%;
  }
  .quiz-cateogory {
    width: 100%;
    margin: 0.5rem 0rem;
  }
  label.btn:hover {
    transform: none !important;
    -webkit-transform: none;
  }
}
.cateogory-link {
  width: 80%;
  text-decoration: none;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}
.quiz-cateogory:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.quiz-cateogory:hover .cateogory-link {
  color: var(--primary-color);
}

.signout-btn {
  float: right;
  margin: 1rem 0.5rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
